.noteTitle {
  text-align: center;
  margin: 20px;
}

.noteForm {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.noteName {
  width: 40%;
  height: 60px;
  text-align: center;
  border: solid black;
  border-radius: 5px;
  font-size: 12px;
  text-overflow: ellipsis;
}
.noteContent {
  text-align: center;
}

.inputControls {
  text-align: center;
}

.buttonContainerNote {
  margin: 20px 0;
}

.noteClick {
  width: 40%;
  height: 20%;
  font-size: 28px;
  border-radius: 5px;
  border: solid black;
  background-color: lightcyan;
  text-shadow: 2px 2px red;
  cursor: pointer;
}
